$body-bg: #0f0f0f;
$main-color: #e50914;
$txt-color: #ffffff;
$white: #ffffff;
$black: #000000;
$red: #e50914;


$box-shadow: rgba(100, 100, 111, .2) 0px 7px 29px 0px;
$box-shadow-hover: rgba(100, 100, 111, .4) 0px 7px 29px 0px;

$header-height: 7rem;
$header-shrink-height: 5rem;
$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Montserrat', sans-serif;